<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://instagram.com/bholakaran09"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://linkedin.com/in/bholakaran09"><i class="fa-brands fa-linkedin"></i></a>
            <a href="mailto:bholakaran09@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://github.com/bholakaran09"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand"><b>&copy; NestAway Private Limited</b></div>
        <div class="f-info-links">
            <a href="/listings">Privacy</a>
            <a href="/listings">Terms</a>
        </div>
        <a href="/listings" style="margin-right: 1.2rem;"><i class="fa fa-user"></i> Karan Bhola</a>
    </div>
</footer>