<% layout("layouts/boilerplate.ejs") %>
<body>
    <h3>Create a new Listing </h3>
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" placeholder="Enter title"> <br>
        <textarea name="listing[description]" id="" placeholder="Enter description"></textarea> <br>
        <input type="text" name="listing[image]" placeholder="Enter image URL"> <br>
        <input type="number" name="listing[price]" placeholder="Enter price"> <br>
        <input type="text" name="listing[location]" placeholder="Enter location"> <br>
        <input type="text" name="listing[country]" placeholder="Enter country"> <br>
        <button>Add</button>
    </form>
</body>
