@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: #FE424D;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

*,*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,h2,p {
  margin: 0;
}

body{
  background-image: url("https://th.bing.com/th/id/R.f0b1761f57ed2496b8ac7c662368138c?rik=pLoQvBq7TDHzHQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-Kq22XyMyiXI%2fUh8n1ndDboI%2fAAAAAAAABkg%2fqwI1726cxbE%2fs1600%2fBackground-Light5.jpg&ehk=5xiuBZoW2TTEyvbatPmdxV6M9IajatETOnpO%2f4IpysQ%3d&risl=&pid=ImgRaw&r=0");
  background-attachment: fixed;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-title);
}
h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white) !important;
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

card__content--container p,card__content--container h2{
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/*Navbar*/
.navbar{
    height: 4rem ;
    width: 100%;
    background-color: #f5f5f5 !important;
}
.form-input{
  display: inline !important;
  height: 2.5rem;
  width: 15rem !important;
  border: 1px solid var(--brand-color) !important;
}
.form-input:focus{
  box-shadow: 2px 2px 5px 2px var(--brand-color) !important;
}
.search-form{
  width: 100%;
  margin-left: 30vw;
}
.btn-light{
  color: var(--white) !important; 
  background-color: var(--brand-color) !important;
  margin-left: 2px;
}
.btn-light:hover{
  color: var(--black) !important;
}

.add-listing{
  margin-right: 1rem;
  border: 2px solid var(--brand-color) !important;
  border-radius: 2rem;
}
.fa-compass{
  color: #fe424d;
  font-size: 2rem;
  margin-left: 2rem;
}

.nav-link{
    color: #222222 !important;
}
.nav-link:hover{
  color: var(--brand-color) !important;
}
/* footer */

.f-info a{
    text-decoration: none;
    color: var(--black) !important;
}

.f-info a:hover{
  color: var(--brand-color) !important;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials{
  margin-top: 4px;
}
.f-info-links a{
  margin-right: 1rem;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.container{
flex:2;
}
.f-info{
    /* position: absolute; */
    /* bottom: 0;    */
    width: 100vw;
    text-align: center;
    height: 6rem;
    display:flex;
    flex: 1 !important;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


.add-btn,.edit-btn{
    background-color:#fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left:0;
    padding-right:0;
}

/* Tax toggle and icons */

#filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1.3rem;

 } 
 .filter{
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  color: var(--black);
 }
 .filter:hover{
  color: var(--brand-color);
  cursor: pointer; 
 }
 .filter p{
  font-size: 1rem;
  color: var(--black);
 }
 .filter p:hover{
  color: var(--brand-color);
 }
 .filter button{
  all:unset;
 }
 .show{
  display: inline;
 }
 .hide{
  display: none;
 }
 .tax-toggle{
  border: 2px solid var(--brand-color);
  border-radius: 1rem;
  height: 3.5rem;
  padding: 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
 }  
/* Below code is for review emoji's */

.container1 {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 130px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}